<div class="row">
    <div class="col-md-6">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                User List

                <ul class="nav navbar-nav">
                    <li role="presentation" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact :  true}">
                        <!-- <a (click)="onSelect('room')" > -->
                       <a href="/" [routerLink]="['/usercreate' ]">Add New User</a>  
    
                    <!-- </a> -->
                </li>
                </ul>

                <hr>
                <ul class="list-group" *ngFor="let user of loadedUsers">
                    <li *ngIf="user.marked_as_deleted == 0">
                        {{user.full_name}} 
                        <a class="btn btn-primary" [routerLink]="['/users', user.id]"> Details </a>
                        <router-outlet></router-outlet>
                    </li>
                </ul>
            </div>

            
    </div>
</div>