<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <div formGroupName="userData">
            <div class="form-group">


            <button class="btn btn-primary">Add new user</button>  
    <label for="username">Name:</label><br>
    <input type="text" class="form-control" id="username" name="username" formControlName="fullName"><br>
    <label for="email">email:</label><br>
    <input type="email" class="form-control" id="useremail" name="useremail"  formControlName="email" ><br>
    <label for="password">password:</label><br>
    <input type="password" class="form-control" id="userpassword" name="userpassword"  formControlName="password"><br>
    <label for="Phone">Phone number:</label><br>
    <input type="text"  class="form-control" id="userphonenumber" name="userphonenumber" formControlName="phone_number" ><br>
    <label for="Department">Department:</label><br>
    <input type="text"  class="form-control" id="userdepartment" name="userdepartment" formControlName="department" ><br>
    <label for="Role">Role :</label><br>
    <input type="text" class="form-control" id="userrole" name="userrole"  formControlName="role"  ><br>
    <hr>
    <button type="submit" class="btn btn-primary" >Submit</button>
  </div>
</div>

        </form>
      </div>
    </div>
  </div>
  