<div class="container">
    <div class="header">
        <div class="header-left">
        <div class="row">
            <div class="col-xs-12">

                <!-- <input class="pt-4" type="text" [(ngModel)]="name"> -->

                <p class="pt-4">Welcome to {{name}}</p>



          
                 </div>
            </div>
        </div>
       
    </div>
    <app-login></app-login>
    <app-warning-alert></app-warning-alert>
    <app-success-alert></app-success-alert>
</div>