<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <div class="col-md-6">
      <app-building-edit (buildingAdded)="onBuildingAdded($event)"></app-building-edit>
      <hr>
      <ul class="list-group">
        <a class="list-group-item" style="cursor: pointer" *ngFor="let building of buildings">
          <img style="width: 25px;" src="{{building.imagePath}}">
          {{building.name}} - {{building.description}}
        </a>
      </ul>
    </div>
  </div>
</div>
