<div class="row">
    <div class="col-xs-12">
        <img src="" alt="" class="img-responsive">

    </div>
</div>
<div class="row">
    <div class="col-xs-12">
     <h1>{{ recipe.name }}</h1> 
    </div>  
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toogle">
                Manage Building <span class="caret"></span>
            </button>
            <ul class="dropwdown-menu">
                <li><a href="#">Add Rooms to building </a> </li>
                <li><a href="#">Edit building </a></li>
                <li><a href="#">Delete Building </a></li>
            </ul>
        </div>
    </div>  
</div>
<div class="row">
    <div class="col-xs-12">
        {{ room.amount }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      Rooms
    </div>
  </div>
  